$pink-theme: Salmon;
$dark-gray-theme: DarkSlateGray;
$light-gray-theme: LightGray;
$white-theme: white;
$logo-color: $pink-theme;
$sortbar-bg: $light-gray-theme;
$sortbar-color: $dark-gray-theme;
$btn-bg: $pink-theme;
$btn-color: $white-theme;
$btn-bg-hover: $white-theme;
$btn-color-hover: $pink-theme;
$btn-light-bg: $white-theme;
$btn-light-color: $pink-theme;
$btn-light-bg-hover: $pink-theme;
$btn-light-color-hover: $white-theme;
$btn-inactive-bg: $dark-gray-theme;
$btn-inactive-color: $white-theme;
$btn-without-bg: transparent;
$btn-without-bg-color: $pink-theme;
$btn-without-bg-color-inactive: $dark-gray-theme;
$btn-without-bg-hover: transparent;
$form-text-container-color: $white-theme;
$form-text-input-color: $white-theme;
$form-text-input-bg: black;
$form-text-input-border-color: $pink-theme;
$switchfield-label-color: $dark-gray-theme;
$switchfield-label-dark-theme-color: $white-theme;
$footer-bg: $dark-gray-theme;
$text-display-color: $dark-gray-theme;
$text-display-light-color: $light-gray-theme;
$chosen-movie-info-title-color: $pink-theme;
$chosen-movie-info-rating-color: LimeGreen;
$chosen-movie-info-rating-border-color: LimeGreen;
$chosen-movie-info-tagline-color: $white-theme;
$chosen-movie-info-year-color: $white-theme;
$chosen-movie-info-runtime-color: $white-theme;
$chosen-movie-info-overview-color: $white-theme;
$movie-title-color: $dark-gray-theme;
$movie-year-color: $light-gray-theme;
$movie-year-border-color: $light-gray-theme;
$movie-genres-color: $light-gray-theme;