@import "../../scss/helpers/variables.scss";
@import "../../scss/helpers/mixins.scss";

.form {
  box-sizing: border-box;
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-family: $app-font-family;
  &__text-container {
    margin-bottom: 20px;
    flex-basis: 100%;
    width: 100%;
  }
  &__text-container-input {
    display: block;
    width: 100%;
    padding: 9px 3% 9px 15px;
    background-color: $form-text-input-bg;
    background-image: url('../../images/input_arrow.png');
    background-position: 98% center;
    background-size: 2% auto;
    background-repeat: no-repeat;
    color: $form-text-input-color;
    font-size: 13px;
    line-height: normal;
    border: 0px solid transparent;
    border-bottom: 2px solid $form-text-input-border-color;
    &::-ms-clear{
      display: none;
      width: 0;
      height: 0;
    }
    &::-ms-reveal{
      display: none;
      width: 0;
      height: 0;
    }
    &::-webkit-search-decoration {
      display: none;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
    &::-webkit-search-results-button {
      display: none;
    }
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
  &__text-container-label {
    display: block;
    margin-bottom: 10px;
    color: $form-text-container-color;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__switchfield-container {
    margin-bottom: 20px;
  }
}

@include tablet {
  .form {
    padding: 0 60px;
    &__text-container-input {
      padding: 10px 3% 10px 15px;
      font-size: 15px;
    }
  }
}

@include desktop {
  .form {
    padding: 0 120px;
    &__text-container-input {
      padding: 13px 4% 13px 15px;
      font-size: 20px;
    }
  }
}
