@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";
.chosen-movie-info {
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  font-family: $app-font-family;
  &__title-container {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__title {
    margin: 0 20px 0 0;
    color: $chosen-movie-info-title-color;
    font-size: 32px;
  }
  &__rating {
    padding: 6px;
    color: $chosen-movie-info-rating-color;
    font-size: 20px;
    border: 2px solid $chosen-movie-info-rating-border-color;
    border-radius: 50%;
  }
  &__tagline {
    margin-bottom: 15px;
    width: 100%;
    color: $chosen-movie-info-tagline-color;
    font-size: 20px;
  }
  &__year-runtime-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
  }
  &__year {
    margin-right: 40px;
    color: $chosen-movie-info-year-color;
    font-weight: bold;
    font-size: 20px;
  }
  &__runtime {
    color: $chosen-movie-info-runtime-color;
    font-weight: bold;
    font-size: 20px;
  }
  &__icons-container {
    width: 100%;
    margin-bottom: 15px;
  }
  &__overview {
    width: 100%;
    color: $chosen-movie-info-overview-color;
    font-size: 20px;
  }
}

@include tablet {
  .chosen-movie-info {
    padding: 10px 40px 10px 40px;
    min-width: 600px;
    &__title-container {
      max-width: 100%;
    }
    &__tagline {
      max-width: 100%;        
    }
    &__year-runtime-container {
      max-width: 100%;
    }
    &__icons-container {
      max-width: 100%;
    }
    &__overview {
      max-width: 100%;
    }
  }
}

@include desktop {
  .chosen-movie-info {
    padding: 10px 50px 10px 50px;
    flex-basis: 800px;
    min-width: 800px;
    &__title-container {
      max-width: 100%;
    }
    &__tagline {
      max-width: 100%;        
    }
    &__year-runtime-container {
      max-width: 100%;
    }
    &__icons-container {
      max-width: 100%;
    }
    &__overview {
      max-width: 100%;
    }
  }
}
