.main {
  min-height: calc(100vh - 78px - 130px);
  min-width: 320px;
  background: $main-bg-color;
  font-family: $font-family;
  &__title {
    margin: 0px;
    padding: 20px;
    text-align: center;
  }
  &__col-1{
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    width: 40%;
  }
  &__col-2 {
    float: right;
    box-sizing: border-box;
    padding: 0 5px 50px;
    width: 60%;
  }
  @extend %clearfix;
}
