.navbar {
  box-sizing: border-box;
  padding: 10px;
  font-family: $font-family;
  &__menu {
    padding: 0;
    margin: 0;
  }
  &__menu-item {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    &_separated {
      margin-left: 25px;
      margin-bottom: 0;
    }
  }
  &__menu-link {
    display: block;
    padding: 15px 20px;
    width: 140px;
    color: $menu-link-text-color;
    background-color: $menu-link-bg-color;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: $menu-link-bg-color-hover;
    }
    &_style_important {
      color: $menu-link-text-color-important;
      background: $menu-link-bg-color-important;
      &:hover {
        background: $menu-link-bg-color-important-hover;
      }
    }
  }
}
