@mixin style($color, $radius, $padding){
  background: $color;
  border-radius: $radius;
  padding: $padding;
}
.someblock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  background-color: bisque;
  border-radius: 50%;
  border: 2px dashed green;
}
.text {
  font-family: $font-f;
  &__part {
    background: blue;
    &:hover {
      background: green;
    }
  }
  &:hover {
    background-color: red;
  }
}
.navbar {
  @include style($bg-color, 10px, $pd);
  &__list {
    margin: 0;
    padding: 0;
  }
  &__list-item{
    list-style-type: none;
  }
}
