@import "../../scss/helpers/variables";
.button {
  padding: 5px 15px;
  color: $btn-color;
  background: $btn-bg;
  font-family: $app-font-family;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0px solid transparent;
  border-radius: 5px;
  &:hover {
    color: $btn-color-hover;
    background: $btn-bg-hover;
    cursor: pointer;
  }
  &_theme_light {
    color: $btn-light-color;
    background: $btn-light-bg;
    &:hover {
      color: $btn-light-color-hover;
      background: $btn-light-bg-hover;
    }
  }
  &_size_lg {
    padding: 5px 70px;
  }
  &_size_sm {
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 2px;
  }
  &_inactive {
    background: $btn-inactive-bg;
    color: $btn-inactive-color;
  }
  &_lowercased {
    text-transform: lowercase;
  }
  &_without-background {
    background: $btn-without-bg;
    color: $btn-without-bg-color;
    outline: none;
    padding: 5px 5px;
    &:hover {
      background: $btn-without-bg-hover;
    }
  }
  &_without-background-inactive {
    color: $btn-without-bg-color-inactive;
  }
}
