.button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: salmon;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px solid transparent;
    border-radius: 5px;
}