@import '../../scss/helpers/variables';
.searchbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 45px;
    background: $sortbar-bg;
    color: $sortbar-color;
    font-weight: bold;
    font-family: $app-font-family;
}