$page-font-family: Arial, sans-serif;
$menu-link-bg: white;
$menu-link-text-color: black;
$menu-link-bg-hover: AntiqueWhite;
$menu-link-bg-important: orange;
$menu-link-text-color-important: white;
$menu-link-bg-important-hover: OrangeRed;
$header-bg: LightGrey;
$main-bg: #e6e6e6;
$sidebar-bg: white;
$btn-submit-bg: #27AE60;
$btn-submit-bg-hover: Green;
$btn-submit-bg-active: DarkGreen;
$btn-reset-bg: #2980B9;
$btn-reset-bg-hover: #1d5ec6;
$btn-reset-bg-active: MidnightBlue;
$news-block-bg: Silver;
$sticker-text-color: white;
$sticker-bg: Crimson;
$footer-bg: #34495E;
$footer-text-color: white;
$body-bg: #e6e6e6;
