$font-family: Arial, sans-serif;
$menu-link-bg-color: white;
$menu-link-text-color: black;
$menu-link-bg-color-hover: AntiqueWhite;
$menu-link-bg-color-important: orange;
$menu-link-text-color-important: white;
$menu-link-bg-color-important-hover: OrangeRed;
$header-bg-color: LightGrey;
$main-bg-color: #e6e6e6;
