doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Mail
        link(href='style.css' rel='stylesheet')
    body
        div(class='welcome-text') Добро пожаловать на наш сайт. Вами отправлено 
            a(href='/messages') #{numberOfMessages} сообщений. Просмотреть>>