.container__modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 500px;
  padding: 10px;
  border: 1px solid black;
  background: white;
}
.form__button {
  margin: 20px 0;
}
.form__tag-input {
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  margin: 5px 0 15px;
  font-size: 16px;
  border: 1px solid black;
}
.form__close {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  align-self: flex-end;
  font-weight: bold;
  cursor: pointer;
}
.form__close-line-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 15px;
  background: grey;
  transform: translate(-50%, -50%) rotate(45deg);
}
.form__close-line-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 15px;
  background: grey;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.form__close:hover .form__close-line-1 {
  background: silver;
}
.form__close:hover .form__close-line-2 {
  background: silver;
}
.form__text-textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  margin: 5px 0 15px;
  font-size: 14px;
  border: 1px solid black;
}
.page__container{
  margin: 5px auto;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}
.container__buttons {
  margin: 10px;
}
.content {
  box-sizing: border-box;
  min-height: 100px;
  padding: 15px 0;
}
.new-element {
  max-width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  font-size: 20px;
}
.new-element__link-remove-element {
  display: block;
  margin: 10px 0;
  color: blue;
  cursor: pointer;
}
.new-element__link-remove-element:hover {
  color: RoyalBlue;
}
.new-element__content{
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.button-container__button {
  margin: 20px 10px 20px 0;
}
.button {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0px solid black;
  cursor: pointer;
}
.button_color_green {
  background: green;
}
.button_color_green:hover {
  background: MediumSeaGreen;
}
.button_color_blue {
  background: blue;
}
.button_color_blue:hover {
  background: RoyalBlue;
}
.code-area {
  min-height: 200px;
  max-width: 100%;
  padding: 15px;
  background: LightGray;
  font-size: 18px;
  border: 1px solid silver;
  white-space: pre-wrap;
}
