:root {
  --absolute-div-height: 60px;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: #e6e6e6;
  font-family: Arial, sans-serif;
}
.container {
  position: relative;
  min-height: 100%;
  min-width: 320px;
}
.header{
  padding: 10px;
  background: LightGrey;
}
.navbar__menu {
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.navbar__menu-item {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white;
  list-style-type: none;
}
.menu-item:last-child {
  margin-left: 25px;
  margin-bottom: 0;
  background-color: orange;
}
.menu-item:hover {
  background: AntiqueWhite;
}
.menu-item:last-child:hover{
  background: OrangeRed;
}
.menu-link {
  display: block;
  padding: 15px 20px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: black;
}
.menu-item:last-child .menu-link {
  color: white;
}
.main {
  padding: 5px;
  margin: 0 10px;
  padding-bottom: 160px;
  background: #e6e6e6;
}

.main-header {
  text-align: center;
}
.sidebar {
  float: left;
  width: 39%;
  background: white;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid Silver;
}
.form-input{
  display: block;
  margin: 10px;
}
.text-input {
  max-width: 90%;
}
.form-btn-container{
  margin: 10px 15px;
}
.btn {
  height: 30px;
  max-width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  border: 0 solid black;
  outline: none;
  cursor: pointer;
}
.btn-submit {
  width: 120px;
  background-color: #27AE60;
}
.btn-submit:hover {
  background-color: Green;
}
.btn-submit:active {
  background-color: DarkGreen;
}
.btn-reset {
  width: 80px;
  margin-left: 15px;
  background-color: #2980B9;
}
.btn-reset:hover {
  background-color: #1d5ec6;
}
.btn-reset:active {
  background: MidnightBlue;
}
.content {
  position: relative;
  float: right;
  background: Silver;
  width: 59%;
  padding: 0px 15px calc(var(--absolute-div-height)/2) 25px;
  border-radius: 10px;
  box-shadow: inset 0 0 7px black;
}
.absolute {
  position: absolute;
  right: 30px;
  bottom: calc(var(--absolute-div-height)/2 * (-1));
  height: var(--absolute-div-height);
  width: 150px;
  background-color: Crimson;
  color: white;
  line-height: var(--absolute-div-height);
  text-align: center;
  border-radius: 50%;
}
.absolute span {
  display: inline-block;
  line-height: 1.25;
  font-size: 20px;
  vertical-align: middle;
}
.text-header {
  text-align: center;
}
.text-red {
  color: Crimson;
}
.list {
  padding-left: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  padding: 20px 15px;
  margin-top: 40px;
  width: 100%;
  height: 130px;
  color: white;
  background: #34495E;
}
.footer_text {
  text-align: center;
}
.copyright {
  text-align: center;
}
