@import "../../scss/helpers/mixins";

.navbar {
  box-sizing: border-box;
  padding: 10px 25px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@include tablet {
  .navbar {
    padding: 10px 60px 30px;
  }
}

@include desktop {
  .navbar {
    padding: 10px 120px 50px;
  }
}
