.button {
  box-sizing: border-box;
  @extend %flex-center;
  height: 40px;
  width: 180px;
  padding: 10px 20px;
  color: $btn-color;
  font-family: $page-font-family;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border: 3px solid $btn-border-color;
  border-radius: 10px;
  text-decoration: none;
  &:hover {
    background: white;
  }
  &_carousel {
    &:hover {
      color: $carousel-btn-color;
    }
  }
  &_about-course {
    height: 40px;
    width: 175px;
    font-size: 16px;
    &:hover {
      color: $card-btn-color-hover;
    }
  }
  &_reviews {
    color: $review-btn-color;
    border: 3px solid $review-btn-border-color;
    &:hover {
      background-color: $review-btn-bg-hover;
      color: $review-btn-color-hover;
    }
  }
  &_special-offer {
    width: 240px;
    &:hover {
      color: $special-offer-btn-color-hover;
      background: $special-offer-btn-bg-hover;
    }
  }
  &_sign-in {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    border: 0px solid black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    background-repeat: no-repeat;
    &:hover {
      background-color: $sign-in-btn-mobile-bg-hover;
      text-decoration: underline;
    }
  }
  &__icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
  .button {
    &_special-offer{
      width: 240px;
    }
    &_sign-in{
      box-sizing: border-box;
      font-weight: normal;
      border-radius: 5px;
      border: 1px solid $sign-in-btn-border-color;
      height: 30px;
      width: 90px;
      font-size: 14px;
      &:hover {
        text-decoration: none;
        background: white;
        color: $sign-in-btn-color-hover;
      }
    }
  }
}
@media only screen and (min-width: 1200px){
  .button {
    height: 50px;
    width: 218px;
    font-size: 16px;
    &_special-offer{
      width: 300px;
    }
    &__icon {
      display: block;
      margin-right: 10px;
    }
    &_about-course {
      height: 40px;
      width: 175px;
    }
    &:hover {
      .button__icon{
        .icon__head {
          fill: $icon-color-hover;
        }
        .icon__body {
          fill: $icon-color-hover;
        }
      }
    }
    &_sign-in{
      height: 36px;
      width: 120px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: normal;
      border-radius: 5px;
      border: 1px solid $sign-in-btn-border-color;
      &:hover {
        background: $sign-in-btn-desktop-bg-hover;
        color: $sign-in-btn-desktop-color-hover;
        text-decoration: none;
      }
    }
  }
}
