.carousel {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &__arrow-left-container {
    box-sizing: border-box;
    flex-basis: 40px;
    flex-shrink: 0;
    padding: 5px;
  }
  &__arrow-right-container {
    box-sizing: border-box;
    flex-basis: 40px;
    flex-shrink: 0;
    padding: 5px;
  }
  &__arrow-left {
    box-sizing: border-box;
    background-image: url(../../assets/icon-arrow-left.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 58px;
    cursor: pointer;
  }
  &__arrow-right {
    box-sizing: border-box;
    background-image: url(../../assets/icon-arrow-right.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 58px;
    cursor: pointer;
  }
  &__main-part-container {
    box-sizing: border-box;
  }
  &__dots {
    box-sizing: border-box;
    display: flex;
    margin: 20px 0 10px;
    justify-content: center;
    align-items: center;
    @extend %list-reset;
  }
  &__dot {
    background: #7c89a1;
    margin: 10px 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    &_active {
      height: 15px;
      width: 15px;
      background: white;
    }
  }
}
@media only screen and (min-width: 768px){
  .carousel {
    &__main-part-container{
      margin-left: 70px;
      margin-right: 70px;
    }
    &__arrow-left-container {
      flex-basis: 50px;
    }
    &__arrow-right-container {
      flex-basis: 50px;
    }
    &__arrow-left{
      height: 80px;
    }
    &__arrow-right{
      height: 75px;
    }
  }
}
@media only screen and (min-width: 1200px){
  .carousel {
    &__main-part-container{

    }
    &__arrow-left-container {
      flex-basis: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__arrow-right-container {
      flex-basis: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__arrow-left{
      margin-left: 25px;
      width: 60px;
      flex-basis: 80px;
    }
    &__arrow-right{
      margin-right: 25px;
      width: 60px;
      flex-basis: 80px;
    }
  }
}
