.carousel {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__arrow-left-container {
    box-sizing: border-box;
    padding: 5px;
    flex-basis: 40px;
    width: 40px;
    flex-shrink: 0;
  }
  &__arrow-right-container {
    box-sizing: border-box;
    padding: 5px;
    flex-basis: 40px;
    width: 40px;
    flex-shrink: 0;
  }
  &__arrow-left {
    box-sizing: border-box;
    height: 58px;
    width: 100%;
    background-image: url(../assets/icon-arrow-left.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__arrow-right {
    box-sizing: border-box;
    height: 58px;
    width: 100%;
    background-image: url(../assets/icon-arrow-right.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__main-part-container {
    box-sizing: border-box;
    width: calc(100vw - 40px - 40px - 10px);
  }
  &__dots {
    box-sizing: border-box;
    display: flex;
    margin: 20px 0 10px;
    justify-content: center;
    align-items: center;
    @extend %list-reset;
  }
  &__dot {
    background: $dot-color;
    margin: 10px 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    &_active {
      height: 15px;
      width: 15px;
      background: $dot-color-active;
    }
  }
}
@media only screen and (min-width: 768px){
  .carousel {
    justify-content: space-between;
    &__main-part-container{
      flex-basis: 500px;
      flex-grow: 1;
      max-width: 900px;
    }
    &__arrow-left-container {
      flex-basis: 50px;
    }
    &__arrow-right-container {
      flex-basis: 50px;
    }
    &__arrow-left{
      height: 80px;
    }
    &__arrow-right{
      height: 80px;
    }
  }
}
@media only screen and (min-width: 1200px){
  .carousel {
    &__main-part-container{
      flex-basis: 1000px;
      max-width: none;
      // flex-grow: 0;
    }
    &__arrow-left-container {
      flex-basis: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__arrow-right-container {
      flex-basis: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__arrow-left{
      width: 60px;
      margin-left: 25px;
      flex-basis: 80px;
    }
    &__arrow-right{
      width: 60px;
      margin-right: 25px;
      flex-basis: 80px;
    }
  }
}
