.content {
  min-height: calc(100vh -300px - 492px);
  &__about-course {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__other-courses {
    margin-bottom: 30px;
  }
  &__reviews {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px){
  .content{
    &__about-course {
      margin-top: 75px;
      margin-bottom: 100px;
    }
    &__other-courses {
      margin-bottom: 70px;
    }
    &__reviews {
      margin-top: 50px;
      margin-bottom: 70px;
    }
  }
}
