.header {
  box-sizing: border-box;
  background-image: url(../../assets/hero-background.jpg);
  background-size: cover;
  background-position: center;
  &__navbar-container {
    padding: 20px 25px 20px 25px;
  }
  &__carousel-container {
    padding: 20px 50px 20px 50px;
  }
}
