.menu {
  font-family: $page-font-family;
  box-sizing: border-box;
  min-width: 100%;
  text-align: right;
  &__list {
    @extend %list-reset;
  }
  &__item{
    border-top: 2px solid white;
    width: 100%;
  }
  &__link {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: white;
    background: $menu-link-mobile-bg;
    &:hover {
      text-decoration: underline;
    }
  }
  &__sign-in {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: $menu-sign-in-mobile-bg;
  }
  &__list-sign-in-container {
    position: absolute;
    top: 60px;
    left: 0;
    box-sizing: border-box;
    min-width: 100%;
    transition: top 1s;
    &_hidden {
      top: -100%;
      transition: top 1s;
    }
  }
  &__toggle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    vertical-align: bottom;
    background: $toggle-menu-bg;
    font-size: 34px;
    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $toggle-menu-bg;
      content: "";
    }
    &::after {
      position: absolute;
      top: -10px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $toggle-menu-bg;
      content: "";
    }
  }
}
@media only screen and (min-width: 768px){
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__toggle {
      display: none;
    }
    &__list-sign-in-container {
      position: static;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    &__list {
      display: flex;
      flex-direction: row;
    }
    &__item {
      width: auto;
      margin: 5px;
      border: 0 solid black;
    }
    &__link {
      background-color: transparent;
      font-size: 16px;
      font-weight: normal;
    }
    &__sign-in {
      margin-left: 25px;
      background-color: transparent;
    }
  }
}
@media only screen and (min-width: 1200px){
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__toggle {
      display: none;
    }
    &__list-sign-in-container {
      position: static;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
    }
    &__list {
      display: flex;
      flex-direction: row;
    }
    &__item {
      width: auto;
      margin: 10px;
      border: 0 solid black;
    }
    &__link {
      background-color: transparent;
      font-size: 16px;
      font-weight: normal;
    }
    &__sign-in {
      margin-left: 135px;
      background-color: transparent;
    }
  }
}
