.other-courses {
  box-sizing: border-box;
  font-family: $page-font-family;
  &__title {
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  &__course-card {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px){
  .other-courses {
    &__container {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      flex-flow: row wrap;
      justify-content: center;
    }
    &__course-card {
      margin: 10px;
    }
  }
}
@media only screen and (min-width: 1200px){
  .other-courses {
    &__container {
      max-width: none;
    }
    &__course-card {

    }
    &__title {
      margin-bottom: 50px;
      font-size: 48px;
    }
  }
}
