.reviews {
  box-sizing: border-box;
  padding: 20px 40px;
  &__title {
    margin: 0 0 30px;
    font-family: $page-font-family;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
  }
  &__button-container {
    @extend %flex-center;
    padding: 10px;
  }
  &__review {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px){
  .reviews {
    &__review {
      margin: 0 10px 30px 10px;
    }
  }
}
@media only screen and (min-width: 1200px){
  .reviews {
    &__title {
      font-size: 48px;
    }
    &__container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
