.special-offer {
  box-sizing: border-box;
  padding: 15px 5px;
  background: $special-offer-bg;
  color: $special-offer-color;
  font-family: $page-font-family;
  &__text {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
  }
  &__important-text {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
  }
  &__button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
  .special-offer {
    &__text {
      font-size: 30px;
    }
    &__important-text{
      font-size: 48px;
    }
  }
}
@media only screen and (min-width: 1200px){
  .special-offer {
    padding-top: 40px;
    &__text {
      max-width: 1000px;
      margin: 0 auto 20px auto;
      // margin-bottom: 20px;
      font-size: 30px;
    }
    &__important-text {
      max-width: 1000px;
      margin: 0 auto 30px auto;
      // margin-bottom: 30px;
      font-size: 48px;
    }
    &__button {
      margin-bottom: 20px;
    }
  }
}
