@import "../../scss/helpers/variables.scss";
@import "../../scss/helpers/mixins.scss";

.footer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;
  background: $footer-bg;
}

@include tablet {
  .footer{
    padding: 20px 40px;
  }
}

@include desktop {
  .footer{
    padding: 20px 100px;
  }
}

