$tablet-width: 768px;
$desktop-width: 1200px;
$blue: #254fad;
$blue-light: #7c89a1;
$dark-gray: #38383a;
$gray: #919191;
$light-gray: #e7e9ee;
$orange: #e17055;
$page-font-family: 'Open Sans', sans-serif;
$footer-menu-color: $gray;
$footer-bg: $dark-gray;
$footer-menu-title-color: $gray;
$footer-color: $gray;
$card-bg: $light-gray;
$card-color: $blue;
$card-bg-hover: $blue;
$card-color-hover: white;
$special-offer-bg: $orange;
$special-offer-color: white;
$special-offer-btn-color-hover: $orange;
$course-text-bg-hover: $blue;
$course-color-hover: white;
$course-color: $blue;
$review-btn-border-color: $blue;
$review-btn-color: $blue;
$review-btn-bg-hover: $blue;
$review-btn-color-hover: white;
$review-author-color: black;
$btn-color: white;
$btn-border-color: white;
$other-courses-transition-time: 0.7s;
$about-course-transition-time: 0.7s;
$card-btn-color-hover: $blue;
$menu-link-mobile-bg: $blue;
$menu-sign-in-mobile-bg: $blue;
$toggle-menu-bg: white;
$dot-color: $blue-light;
$dot-color-active: white;
$carousel-article-color: white;
$carousel-btn-color: $blue;
$sign-in-btn-mobile-bg-hover: $blue;
$sign-in-btn-border-color: white;
$sign-in-btn-color-hover: $blue;
$sign-in-btn-tablet-bg-hover: white;
$sign-in-btn-desktop-color-hover: $blue;
$sign-in-btn-desktop-bg-hover: white;
$btn-color-hover: $blue;
$btn-bg-hover: white;
$menu-item-border-color: white;
$menu-link-color: white;
