$page-font-family: 'Open Sans', sans-serif;
$footer-menu-color: #919191;
$footer-bg: #38383a;
$footer-menu-title-color: #919191;
$footer-color: #919191;
$card-bg: #e7e9ee;
$card-color: #254fad;
$card-bg-hover: #254fad;
$card-color-hover: white;
$special-offer-bg: #e17055;
$special-offer-color: white;
$special-offer-btn-color-hover: #e17055;
$special-offer-btn-bg-hover: white;
$course-text-bg-hover: #254fad;
$course-color-hover: white;
$course-color: #254fad;
$review-btn-border-color: #254fad;
$review-btn-color: #254fad;
$review-btn-bg-hover: #254fad;
$review-btn-color-hover: white;
$review-author-color: black;
$btn-color: white;
$btn-border-color: white;
$other-courses-transition-time: 1.5s;
$about-course-transition-time: 1.5s;
$card-btn-color-hover: #254fad;
$menu-link-mobile-bg: #254fad;
$menu-sign-in-mobile-bg: #254fad;
$toggle-menu-bg: white;
$dot-color: #7c89a1;
$dot-color-active: white;
$carousel-article-color: white;
$carousel-btn-color: #254fad;
$sign-in-btn-mobile-bg-hover: #254fad;
$sign-in-btn-border-color: white;
$sign-in-btn-color-hover: #254fad;
$sign-in-btn-desktop-color-hover: #254fad;
$sign-in-btn-desktop-bg-hover: white;
$icon-color-hover: #254fad;
$icon-color: white;
