@import '../../helpers/variables';

.movie-form {
    flex-basis: 500px;
    background: $form-bg;
    border-radius: 10px;
    &__title {
        padding: 0 15px;
        font-size: 30px;
    }
    &__input-container {
        margin: 10px 15px;
    }
    &__label {
        display: block;
        font-size: 20px;
    }
    &__input {
        box-sizing: border-box;
        display: block;
        height: 24px;
        width: 100%;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid grey;
    }
    &__textarea {
        box-sizing: border-box;
        display: block;
        height: 150px;
        width: 100%;
        resize: vertical;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid grey; 
    }
    &__button-container {
        display: flex;
        justify-content: flex-end;
        padding: 10px 15px;
    }
    &__button {
        margin: 0 10px;
    }
}